@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme {
/* Custom colors */
--color-background: #FEFEFE;
--color-darkbrown: #5B2D29;
--color-sand: #D5BB9B;

/* Fonts */
--font-cormorant: "Cormorant Garamond", serif;
--font-montserrat: "Montserrat", sans-serif;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

